<!DOCTYPE html> 

<html lang="en">

  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Jemeric's Portfolio</title> 
        <link rel="stylesheet" href="Assets/reset.css">
        <!-- <link rel="stylesheet" href="Assets/style.css">  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> 

  </head>

  <body>
        <header>
            <h1 id="name">Jemeric S. Thomas</h1>
            <a href="#about-section">About Me</a>
            <a href="#WebProjects">My Projects</a>
            <a href="#Contacts">Contacts</a>
            <a href="#games">Games</a>
        </header>


        <main>
            <section class="About-me">
                <h2 id="about-section"> Who am I?</h2>
                <img src="Assets/Box Jelly.jpg" alt="An illustration of a box jellyfish"/>
                <p style="overflow-y: scroll;">I'm the voice in your head. Im snow that starts the avalanche.
                     The first drop of rain before before the hurricane.
                    Basically, im a pretty big deal. Sed fringilla sollicitudin ex, sit amet tincidunt ligula commodo sit amet. Morbi quis sollicitudin leo. Mauris facilisis viverra libero vel fringilla.
                     Maecenas laoreet interdum aliquam. Etiam gravida dapibus dignissim. Integer at sem purus. Sed semper, elit in lobortis semper, diam nisi interdum dolor, vitae scelerisque justo dolor id neque
                    <span id="below"> Seeing as you found this. Your pretty cool too.</span>
                </p>

            </section>

            <section>
                <script type="text/javascript">
                var myInfo="information from places {{place}}";
               
                </script>
            </section>

            <section class="showcase">
                <h2 id="Projects"> My Projects</h2>
                <p>Here is a list of all my projects: </p>

                <span class="Project-viewing">
                    <a href="#">
                        <p>Coming Soon</p>
                    </a>
                </span>

                <span class="Project-viewing">
                    <a href="#">
                        <p>Coming Soon</p>
                    </a>
                </span>

                <span class="Project-viewing">
                    <a href="#">
                        <p>Coming Soon</p>
                    </a>
                </span>

            </section>

        </main>

        <footer>

            {{!-- <h3 id="Contacts"> Contact Information:</h3> --}}

            <!-- <section class="Contact-information">
                <p>Email: </p>
                <a href="#">*********@email.com </a>
            </section> -->

            <!-- <section class="Contact-information">
                <p>Mobile Phone: </p>
                <a href="#">555-111-1234 </a>
            </section> -->

            {{!-- <section class="Contact-information">
                <p>Github: </p>
                <a href="https://github.com/sentorus67">Jemeric </a>
            </section> --}}

            <p >Thank you for visting</p>

        </footer>
  </body>
  
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</html>