:root{
    --aqua: aquamarine;
    --contraste-purple: blueviolet;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-image: url(Ocean.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

header{
    background-color: var(--aqua);
    color: darkblue;
    width: 100%;
    display: inline-block;
    font-size: larger;
    text-align: center;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
}

header a{
    margin: 10px 5px 5px 1px;
}

#name{
    float: left;
    width: 100%;
}

h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: larger;
    width: 100%;
}

.About-me{
 display: inline-block;
 
 height: 850px;
 width: 35%;
}

main img{
    margin-left: 5%;
    width: 200px;
    max-width: 70%;
    height: 250px;
    border: 5px solid var(--contraste-purple);
    border-radius: 20%; 
}

.About-me p{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    max-width: 400px;
    height: 50%;
    padding: 10px;
    color: aliceblue;
    border: 1px solid gold;
    border-radius: 15px ;
    background-color: var(--contraste-purple);
}

#below{
    
    margin-top: 400px;
}

#below:hover::after{
    content: "😎";
}

.showcase {
    width: 65%;
    height: 850px;
    display: block;
    float: right;
    
    min-width: 350px;
}

.showcase p{
    text-indent: 10px;
    font-weight: bold;
}

.Project-viewing p{
    display: inline-flex; 
    width: 200px;
    height: 200px;
    min-width: 200px;
    flex-wrap: wrap;
    border: 5px solid var(--contraste-purple);
    border-radius: 15px;
    margin: 10px;
    background-image: url(Wrench.jpg);
    background-size: 100%;
    opacity: 50%;
}

.Project-viewing p:hover{
    opacity: 100%;
    width: 300px;
    height: 300px;
}

footer{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 150px;
    justify-content: space-around;
    text-align: center;
    background-color: var(--aqua);
}

footer section{ 
    display: inline; 
    margin: 5px;
    float: inline-end;
    
} 

#parting{
    color: var(--contraste-purple);
    font-weight: bold;
    margin-left: 10%;
}

@media screen and (max-width:768px){

    .About-me{
        width: 100%;
    }
    .About-me p{
        margin-left: 25%;
    }

    .showcase{
        width: 100%;
    }
}

@media screen and ( max-width: 425px){
    *{
        font-size: large;
    }

    footer{
            display: block;
    }
    
}
    
